<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">
      <title>Agricultura Familiar</title>
      <link href="style.css" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
      <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Repl.it_logo.svg/220px-Repl.it_logo.png">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="script.js"></script>
  </head>

  <body>
    <header>
		<a class="logo" href="#home">
              <img src="logo.agro.png" />
		</a>
		<nav>	
		 <ul class="nav-bar"><div class="bg"></div>
			<li><a class="nav-link active" href="index.html">Inicio</a></li>
		 </ul>
			
			<div class="hamburger">
				<div class="line1"></div>
            <div class="line2"></div>
				<div class="line3"></div>
			</div>
		</nav>
	</header>
    <div class="body-li">
        <div class="box">
            <form action="" class="form-li">
                <fieldset>
                    <legend><b>Analise de Investimento</b></legend>
                    <br>
                    <div class="inputbox">
                        <label for="nome" class="label-input">Projeto:</label>
                        <input type="text" name="nome" id="ModeloP" class="inputUser">
                    </div>

                    <div class="inputbox">
                        <label for="nome" class="label-input">Investimento Inicial:</label>
                        <input type="number" name="nome" id="duaslinhasG" class="inputUser" placeholder="R$">
                    </div>
    
                    <div class="inputbox">
                        <label for="nome" class="label-input">Unidade de Tempo:</label>
                        <input type="text" name="nome" id="ModeloP" class="inputUser">
                    </div>
                        
                    <div class="inputbox">
                        <label for="nome" class="label-input">Entrada de Caixa Por Unidade de Tempo:</label>
                        <input type="text" name="nome" id="CategoriaP" class="inputUser">
                    </div>
    
                    <div class="inputbox">
                        <label for="nome" class="label-input">Custo Adicional Por Período:</label>
                        <input type="number" name="nome" id="duaslinhasG" class="inputUser" placeholder="R$">
                    </div>

                    <div>
                        <label for="nome" class="label-input" id="databorda">Valor Residual Final:</label>
                        <input type="number" name="nome" id="duaslinhasG" class="inputUser" placeholder="R$">
                    </div>
    
                    <div class="inputbox">
                        <label for="nome" class="label-input" >Taxa Minima de atividade:</label>
                        <input type="text" name="nome" id="ModeloP" class="inputUser">
                    </div>

                    <div>
                        <label for="nome" class="label-input" id="borda">Entrar com Projeto Concorrente</label>
                        <input type="submit" name="nome" id="novo" class="inputUser">
                    </div>

                    <div class="inputbox">
                        <label for="nome" class="label-input">Projeto Mais Viavel é:</label>
                        <input type="text" name="nome" id="duaslinhas" class="inputUser"> 
                    </div>
                    
    
                    <div class="inputbox">
                        <label for="nome" class="label-input">Retorno de Tempo de:</label>
                        <input type="text" name="nome" id="duaslinhas" class="inputUser">
                    </div>
    
                    <br>
    
                    <input type="submit" name="submit" id="submit">
                    
                </fieldset>
            </form>
        </div>
    </div>
  </body>