<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">
      <title>Agricultura Familiar</title>
      <link href="style.css" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
      <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Repl.it_logo.svg/220px-Repl.it_logo.png">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="script.js"></script>
  </head>

  <body>
    <header>
		<a class="logo" href="#home">
              <img src="logo.agro.png" />
		</a>
		<nav>	
		 <ul class="nav-bar"><div class="bg"></div>
			<li><a class="nav-link active" href="index.html">Inicio</a></li>
		 </ul>
			
			<div class="hamburger">
				<div class="line1"></div>
            <div class="line2"></div>
				<div class="line3"></div>
			</div>
		</nav>
	</header>
    <div class="body-li">
        <div class="box">
            <form action="" class="form-li">
                <fieldset>
                    <legend><b>Meta de Produção e Renda</b></legend>
                    <br>
                    <div class="inputbox">
                        <label for="nome" class="label-input">Dados da Produção:</label>
                        <input type="text" name="nome" id="ModeloP" class="inputUser">
                    </div>
    
                    <div class="inputbox">
                        <label for="nome" class="label-input">Cultura/Produto:</label>
                        <input type="text" name="nome" id="ModeloP" class="inputUser">
                    </div>
    
                    <div class="inputbox">
                        <label for="nome" class="label-input">Unidade Medida da Área:</label>
                        <input type="text" name="nome" id="duaslinhas" class="inputUser">
                        
                        <label for="nome" class="label-input">Quantidade Total:</label>
                        <input type="text" name="nome" id="duaslinhas" class="inputUser">
                    </div>
    
                    <div class="inputbox">
                        <label for="nome" class="label-input">Rendimento Por Unidade:</label>
                        <input type="text" name="nome" id="ModeloP" class="inputUser">
                    </div>

                    <div class="inputbox">
                        <label for="nome" class="label-input">Unidades de Área Produzindo:</label>
                        <input type="text" name="nome" id="ModeloP" class="inputUser">
                    </div>
    
                    <div class="inputbox">
                        <label for="nome" class="label-input">Renda Esperada:</label>
                        <input type="number" name="nome" id="duaslinhas" class="inputUser" placeholder="R$">
                    </div>
    
                    <div class="inputbox">
                        <label for="nome" class="label-input">Meta de Produção é:</label>
                        <input type="text" name="nome" id="CategoriaP" class="inputUser">
                    </div>
    
                    <div class="inputbox">
                        <label for="nome" class="label-input">Produção excedente a meta:</label>
                        <input type="text" name="nome" id="CategoriaP" class="inputUser">
                    </div>

                    <div class="inputbox">
                        <label for="nome" class="label-input">Almentar a Procução Por Unidade Em:</label>
                        <input type="text" name="nome" id="CategoriaP" class="inputUser">
                    </div>
    
                    <br>
    
                    <input type="submit" name="submit" id="submit">
                </fieldset>
            </form>
        </div>
    </div>
  </body>